.helper-text {
  font-size: 12px;
  color: gray;
  margin-top: 4px;
  display: none; /* 기본적으로 숨김 */
}

.helper-text.error {
  color: red;
}

.helper-text.success {
  color: green;
}

.helper-text.show {
  display: block; /* 조건 만족 시 표시 */
}
