.header {
  background: #D94848;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 3px 12px rgba(255,99,71,0.3);
  margin-bottom: 24px;
}