.edit-password-section {
  width: 450px;
  background: var(--sub-red);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.edit-password-section h2 {
  text-align: center;
  margin-bottom: 24px;
}
