.post-card{
    position: relative;
    width: 700px;
    background: #FDF2EE; 
    padding: 40px;
    border-radius: 24px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
}

.post-card-header {
    display: flex;
    justify-content: space-between; /* 왼쪽 authorMeta / 오른쪽 createdAt */
    align-items: center;
    width: 100%;
    padding: 10px 4px;
}

.created-at {
    font-size: 14px;
    color: #888;
    white-space: nowrap;
}

.post-card-image{
    width: auto;
    max-width: 450px;
    display: block;
    margin: 16px auto;
}

.post-card-content{
    font-size: 20px;
    color: var(--neutral);
    line-height: 1.5;
    overflow: hidden;
}