.comment-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 14px 20px;
    background: rgba(241, 220, 220, 0.634); 
    border-radius: 16px;
}

.comment-item:hover {
    background: rgba(242, 214, 214, 0.6);
    transform: translateY(-2px);
}

/* 댓글 상단 헤더 */
.comment-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 6px;
}

/* 프로필 이미지 */
.comment-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  background: #f3f3f3;
}

/* 닉네임 */
.comment-author {
    font-size: 14px;
    font-weight: 600;
    color: var(--main-green);              
}

/* 날짜 */
.comment-date {
  margin-left: auto;
  font-size: 12px;
  color: var(--neutral);
}

.comment-body {
    font-size: 18px;
    color: var(--neutral);
    margin-top: 4px;
    margin-left: 52px;
}

.comment-actions {
    display: flex;
    gap: 10px;
    margin-top: 4px;
}

.comment-actions button {
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    width: fit-content;
    background: #F2B6BB;
    color: #595959;
}

.comment-actions button:hover {
    transform: translateY(-2px) scale(1.04);
    background: #F2D0D0;
}