.login_btn{
    width: 100%;
    padding: 14px;
    color: white;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    margin-top: 12px;
    font-size: 15px;
    transition: 0.2s;
}

.login_btn:disabled {
    background: var(--neutral);
}