.floating-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: var(--main-green);
  color: white;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
  transition: 0.2s;
}

.floating-button:hover {
  background: var(--main-red);
  transform: translateY(-4px);
}