.login_field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.login_field label{
    font-size: 14px;
    color: var(--main-green);
    margin-bottom: 8px;
}

.login_field input{
    padding: 14px;
    border: 2px solid var(--main-green);
    border-radius: 26px;
    background: #fff;
    font-size: 14px;
}
