.banner__section{
    max-width: 900px;
    margin: 0 auto;
    background: #f6cbca;
    border-radius: 28px;
    padding: 34px 20px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(255, 99, 71, 0.15);
}

.banner__topic_label{
    font-size: 13px;
    color: #E6543A;
    letter-spacing: 1.2px;
    margin-bottom: 12px;
    font-weight: 600;
}

.banner__topic_text {
  font-size: 22px;
  color: #595959;
  margin: 0;
  font-weight: 700;
}