.postItem-author{
    width: 70px;
    border-left: 3px solid #F2B6BB;
    padding-left: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}