.post-create {
  width: 100%;
  background: #ea4e4e;
  padding: 20px 28px;
  border-radius: 26px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-create label {
  font-size: 14px;
  color: white;
  font-weight: 600;
}

.post-create textarea {
  height: 120px;
  padding: 14px;
  border-radius: 18px;
  resize: none;
  font-size: 14px;
  border: 2px solid #F2D0D0; /* 연한 토마토 톤 */
  background: #fff;
  outline: none;
}

.post-create textarea:focus {
  border-color: #F2B6BB; /* 포커스되면 밝은 토마토 */
}

.post-create input[type="file"] {
  padding: 8px 0;
  font-size: 14px;
}

.helper-text {
  font-size: 12px;
  margin-top: -10px;
  color: #fff; /* 토마토 껍질 */
}