.postItem {
    width: 240px;
    height: 300px;
    background: #FFFFFF;
    border-radius: 20px;
    border: 2px solid var(--sub-red2);
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
    margin-bottom: 6px;
}

.postItem:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.12);
    border-color: var(--main-red);
    transition: 0.5s ease-out;
}

.postItem .info {
    display: flex;
    padding: 10px;
    gap: 12px;
}