/* 회원가입 전체 박스 */
.edit-profile-box {
  width: 450px;
  margin: 80px auto; /* 상단 여백 + 중앙 정렬 */
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--sub-red);
  border-radius: 10%;
}

/* 제목 */
.edit-profile-box h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

/* 폼 */
.edit-profile-box form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 16px 0;
}

.profile-img-preview {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #f4f4f5;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #d4d4d8;
  position: relative; 
}

.profile-img-preview img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.profile-img-preview:hover {
  border-color: var(--main-red);
}

#userProfileImg {
  display: none; /* 파일 입력창 숨김 */
}

/* 라벨 */
.edit-profile-box label {
    font-size: 14px;
    color: var(--main-green);
    margin-bottom: 8px;
}

.edit-profile-box input{
    padding: 14px;
    border: 2px solid var(--main-green);
    border-radius: 26px;
    background: #fff;
    font-size: 14px;
}


/* 프로필 섹션 */
.edit-profile-box .profile-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 26px;
}

/* 하단  링크 */
.link {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  cursor: pointer;
}

