/* 회원가입 전체 박스 */
.edit-profile-box {
  width: 450px;
  margin: 80px auto; /* 상단 여백 + 중앙 정렬 */
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 제목 */
.edit-profile-box h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

/* 폼 */
.edit-profile-box form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 16px 0;
}

.profile-img-preview {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #f4f4f5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #d4d4d8;
  transition: border-color 0.2s;
}

.profile-img-preview:hover {
  border-color: #7f6aee;
}

.profile-img-preview img {
  width: 100%;
  height: 50px;
  object-fit: cover;
  background-color: gray;
}

#userProfileImg {
  display: none; /* 파일 입력창 숨김 */
}

/* 라벨 */
.edit-profile-box label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
  color: #111;
}

.edit-profile-box input:focus {
  border-color: #7f6aee;
}

/* 헬퍼 텍스트 */
.helper-text {
  font-size: 12px;
  color: #ff0000;
  margin-top: 2px;
  line-height: 100%;
  display: none;
}

/* helper-text가 보여질 때 */
.helper-text.show {
  display: block;
}

/* 프로필 섹션 */
.edit-profile-box .profile-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 26px;
}

/* 하단  링크 */
.link {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  cursor: pointer;
}

