

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f4f4f5;
  color: #111;
}

header {
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  background-color: #F4F5F7;
  border-bottom: 1px solid #000000;
  text-align: center;
  padding: 20px 0;
}

.title{
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0; 
    text-align: center;
}

.back-arrow {
  float: left;
  left:10px;
  text-decoration: none;
  color: #333;
  border-left: 5px solid;
  border-bottom: 5px solid;
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
}

.dropdown{
  position : relative;
  display : flex;
}

.dropbtn {
  width: 48px;
  height: 48px;
  border: none;             /* 기본 버튼 테두리 제거 */
  border-radius: 50%;
  background: none;         /* 배경색 제거 */
  padding: 0;               /* 내부 여백 제거 */
  overflow: hidden;         /* 둥근 영역 밖 잘리게 */
  cursor: pointer;
}

.dropbtn img {
  width: 100%;
  height: 100%;
  object-fit: cover;        /* 이미지 비율 유지하며 채우기 */
  border-radius: 50%;
  display: block;           /* inline 속성의 여백 제거 */
}


.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
  min-width : 200px;
}

.dropdown-content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}

.dropdown-content a:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-content {
  display: block;
}



h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
  padding-top: 60px;
}

input {
  padding: 10px;
  border: 1px solid #000000; /* ← solid 추가! */
  border-radius: 4px;
}

.btn-primary {
  background-color: #ACA0EB;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 0;
  width: 100%;
  font-weight: 600;
  cursor: pointer; 
  font-size:14px;
}

.btn-primary:hover {
  background-color: #7F6AEE;
}

a {
  color: #333;
  text-decoration: none;
}