*, *::before, *::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  font-family: sans-serif;
  min-height: 100vh; /* 전체 배경과 스크롤 유지 */
}

#app{
    width: 100%;
    height: 100%;
}

.page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page-center-row {
    display: flex;
    justify-content: center;
}

.helper-text {
    font-size: 12px;
    color: #4caf50;
}

.helper-text.invalid {
    color: #d9534f;
}

.link_to{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: var(--sub-green);
    cursor: pointer;
    text-decoration: underline;
}