@font-face {
    font-family: 'KccHanbit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

* {
    font-family: 'KccHanbit';
}


*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    font-family: sans-serif;
    min-height: 100vh; /* 전체 배경과 스크롤 유지 */
}

#root{
    width: 100%;
    height: 100%;
}

.page-center-row {
    display: flex;
    justify-content: center;
}


.link_to{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: var(--sub-green);
    cursor: pointer;
    text-decoration: underline;
}