header {
  padding:1.3rem;
  position: sticky;
  text-align: center;
  top: 0;
  width: 100%;
  background-color: #f4f5f7;
  align-items: center;
  justify-content: center;
  display: flex;
}

header .title {
  font-size: 24px;
  font-weight: 500;
}

.user-profile {
  position: relative;
  display: inline-block;
  left: 400px;
  display: none;
}

.user-profile .profile-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .menu {
  display: none;
  position: absolute;
  top: 50px; /* 프로필 바로 아래 */
  right: 0;
  background-color: #fff;
  border-radius: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.dropdown:hover .menu {
  display: block;
}

.dropdown .menu li {
  width: 120px;
  padding: 8px 0;
  background: #f9f9f9;
  text-align: center;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown .menu li:last-child {
  border-bottom: none;
}

/* hover 효과 */
.dropdown .menu li:hover {
  color: rebeccapurple;
}