.header {
  background: #D94848;
  padding: 18px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 3px 12px rgba(255,99,71,0.3);
  margin-bottom: 24px;
}

.header__title {
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.5px;
}

.header__profile {
  font-size: 34px;
}