@import "./global.css";
@import "./login.css";
@import "./signup.css";
@import "./posts.css";
@import "./post-detail.css";
@import "./header.css";
@import "./edit-profile.css";
@import "./modal.css";
@import "./toast.css";
@import "./comments.css";