.login-box {
  padding: 40px;
  border-radius: 10px;
  width: 360px;
}

.login-box-title {
    font-weight: 700;
    font-style: bold;
    text-align: center;
}

label{
    font-weight: 700;
    font-size:15px;
    line-height: 100%;
    letter-spacing: 0; 
}

.login-box h2 {
  text-align: center;
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.link {
  text-align: center;
  margin-top: 16px;
}

.helper-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FF0000;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0; 
    display: none;
}

.helper-text.show{
  display: block;
}