.manageMemberPage {
    width: 900px;
    margin: 0 auto;
    padding-top: 40px;
}

.manageMemberPage h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.memberTable {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
}

.memberTable th {
    background: #a0f68b;
    padding: 14px 10px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.memberTable td {
    padding: 12px 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
    color: var(--neutral);
}

.memberTable tr {
    background: #f68b8bd6;
}


.memberTable tr:hover {
    background: #f68b8b;
}
