/* 게시글 수정 전체 박스 */
.post-edit-box {
    margin: 0 auto;
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    gap: 20px;
}

/* 제목 */
.post-edit-box h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 32px;
}

/* 라벨 */
.post-edit-box label {
  display: block;
  margin-bottom: 8px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 15px;
}

/* 텍스트 인풋 */
.post-edit-box input[type="text"],
.post-edit-box input[type="file"],
.post-edit-box textarea {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid var(--sub-red2);
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  background-color: #fff;
  margin-bottom: 4px;
}

.post-edit-box input[type="text"]:focus,
.post-edit-box textarea:focus {
  border-color: var(--main-red);
}

/* textarea 크기 */
.post-edit-box textarea {
  min-height: 240px;
  resize: vertical;
}
