.homeMain {
  margin: 0 auto;      
  display: flex;
  flex-direction: column;
  gap: 24px;  
}

.homeMain > * {
  width: 100%;
}

.floatingBtn__link_to_post_create {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: #8FB48C;
  color: white;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
  transition: 0.2s;
}

.floatingBtn__link_to_post_create:hover {
  background: #BF3B3B;
  transform: translateY(-4px);
}

/* postItem__ */
.postItemContainer{
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 12px; 
}

.postItem {
    width: 240px;
    height: 300px;
    background: #FFFFFF;
    border-radius: 20px;
    border: 2px solid #F2D0D0;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
    margin-bottom: 6px;
}

.postItem:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.12);
    border-color: #BF3B3B;
    transition: 0.5s ease-out;
}

.postItem .image {
    height: 170px;
    overflow: hidden;
}

.postItem .image .data{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postItem .text {
    display: flex;
    padding: 10px;
    gap: 12px;
}

.postItem .text .left {
    flex: 1;
}

.postItem .text .left .label {
    padding: 4px 12px;
    border-radius: 14px;
    font-size: 12px;
    color: var(--neutral-text);
    width: fit-content;
    margin-bottom: 8px;
}

.postItem .text .left .label.food{
    background-color: var(--topic-label-food);
}

.postItem .text .left .label.purchase{
    background-color: var(--topic-label-purchase);
}

.postItem .text .left .label.contents{
    background-color: var(--topic-label-contents);
}

.postItem .text .left .label.music{
    background-color: var(--topic-label-music);
}

.postItem .text .left .label.activity{
    background-color: var(--topic-label-activity);
}


.postItem .text .left .preview-body {
    margin: 0;
    color: #595959;
    line-height: 1.4;

    display: -webkit-box;
    -webkit-line-clamp: 2; /* 원하는 줄 수 */
    -webkit-box-orient: vertical;

    overflow: hidden;
}

.postItem .right {
    width: 70px;
    border-left: 3px solid #F2B6BB;
    padding-left: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.postItem .right .author {
    color: #718C5E;
    font-weight: bold;
}

.postItem .right .userProfile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.postItem .right .userProfile .data{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
