/* 프로필 이미지 영역 */
.signup__profile-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
}

/* 실제 input 숨기기 */
.signup__profile-file {
    display: none;
}

/* 이미지 미리보기 라벨 */
.signup__profile-img-preview {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid #ACBFA3;
    transition: 0.2s;
}

.signup__profile-img-preview:hover {
    border-color: #BF3B3B;
}

/* 이미지 태그 */
.signup__profile-img-tag {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 기본 버튼 */
.signup__btn {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    background: #BF3B3B;
    border: none;
    color: white;
    border-radius: 26px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.signup__btn:disabled {
    background: var(--neutral); /* 연한 토마토 */
    cursor: not-allowed;
}

.signup__btn:hover:not(:disabled) {
    background: #D94848;
}

/* 로그인 링크 */
.signup__login_link_to {
    margin-top: 18px;
    text-align: center;
    font-size: 14px;
    color: #718C5E;
    cursor: pointer;
}
