.signup-box {
  width: 450px;
}

.signup-box h2 {
  text-align: center;
}

.profile-img{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
}

.profile-details{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.profile-img-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profile-img-preview img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#userProfileImg {
  display: none;
}

.helper-text {
  color: #ef4444;
  font-size: 12px;
  margin: 0 0 8px 0;
  text-align: left;
}