/* 회원가입 전체 박스 */
.signup-box {
  width: 450px;
  margin: 80px auto; /* 상단 여백 + 중앙 정렬 */
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 제목 */
.signup-box h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

/* 폼 */
.signup-box form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* 전체 프로필 이미지 박스 */
.profile-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}

/* helper text */
.profile-img .helper-text {
  width: 100%;
  margin-bottom: 12px;
  font-size: 14px;
  color: #d9534f; /* 빨간 톤 */
  text-align: left;
}

/* 실제 input(type=file)은 숨김 */
#userProfileImg {
  display: none;
}

/* 실제 클릭되는 동그란 영역 */
.profile-img-preview {
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  overflow: hidden; /* 이미지가 원형 안에 들어가도록 */

  position: relative;
}

/* 기본 이미지 (default_profile.png) */
#userProfileImgPreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 기본 이미지 위에 + 아이콘처럼 보이는 효과 */
.profile-img-preview::after {
  content: "+";
  position: absolute;
  color: #666;
  font-size: 48px;
  font-weight: 300;
  pointer-events: none;
}


/* 라벨 */
.signup-box label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
  color: #111;
}

.signup-box input:focus {
  border-color: #7f6aee;
}

/* 헬퍼 텍스트 */
.helper-text {
  font-size: 12px;
  color: #ff0000;
  margin-top: 2px;
  line-height: 100%;
  display: none;
}

/* helper-text가 보여질 때 */
.helper-text.show {
  display: block;
}

/* 프로필 섹션 */
.signup-box .profile-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 26px;
}

/* 하단 로그인 링크 */
.link {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  cursor: pointer;
}

