.edit-profile-section {
  width: 450px;
  margin: 80px auto; /* 상단 여백 + 중앙 정렬 */
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--sub-red);
  border-radius: 10%;
}